@if (cargandoModoOscuro) {
@if (videoOscuro) {
<div class="contVideoClaro animate__animated opacity-0" id="contenedorVideo">
    <video #videoModoOscuro id="videoModoOscuro" src="./assets/quitarModoOscuro.mp4" muted playsinline autoplay
        class="opacity-0 animate__animated"></video>

</div>

}@else {
<div class="contVideoOscuro animate__animated opacity-0" id="contenedorVideo">
    <video #videoModoOscuro id="videoModoOscuro" src="./assets/modoOscuro.mp4" muted playsinline autoplay
        class="opacity-0 animate__animated"></video>
</div>
}

}



@if (cargandoModoOscuro) {

<!-- Botón flotante arriba a la derecha -->
<button class="theme-toggle-btn" (click)="toggleTheme()">🌓</button>

}@else {
<!-- Botón flotante arriba a la derecha -->
<button class="theme-toggle-btn" (click)="toggleTheme()">🌓</button>

}

<app-home  [modoOscuro]="isDarkMode"></app-home>




<!-- Contenido de tu app -->
<router-outlet></router-outlet>